.bs-docs-footer {
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 100px;
    color: #99979c;
    text-align: center;
    background-color: #2a2730;
}
.bs-docs-footer .container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}	
.btn-outline {
    color: #563d7c;
    background-color: transparent;
    border-color: #563d7c;
}
.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}
.bs-callout-danger {
    border-left-color: #ce4844;
}
table.table>tbody>tr>td {

  background-color: #fff;
}
table.table>tbody>tr>td:hover {

    background-color: #ccc;
    -webkit-transition: background-color 100ms linear;
    -ms-transition: background-color 100ms linear;
    transition: background-color 100ms linear;
}
table.table>tbody>tr.row-0 td {
    background-color: #f4f4f4;
}
table.table>tbody>tr.row-1 td {
    background-color: #eee;
}
table.table>tbody>tr>td.column-0 {
    background-color: #f4f4f4;
}
table.table>tbody>tr>td.column-1 {
    background-color: #eee;
}
table.table>tbody>tr>td.column-2 {
    background-color: #f4f4f4;
}
table.table>tbody>tr.row-1>td.column-0,table.table>tbody>tr.row-1>td.column-2 {
    background-color: #eee;
}
.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}